APP_NAME=Lumen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=sqlite
DB_DATABASE=../database/database.sqlite

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

JWT_SECRET=your-jwt-secret-key-here-make-it-very-long-and-random
JWT_TTL=60
JWT_REFRESH_TTL=20160

SHORTENER_BASE_URL=http://localhost:8001
